<header class="site-header">
    <nav class="main-nav">
        <a href="{{ '/' | relative_url }}">Books</a>
        <span class="nav-separator">&#10052;</span>
        <a href="{{ '/' | relative_url }}#new-in-snowball-falls">New Release</a>
        <a href="{{ '/' | relative_url }}#grumpy-guarded">Browse Tropes</a>
        <a href="{{ '/' | relative_url }}#collections">Collections</a>
        <span class="nav-separator">&#10052;</span>
        <a href="{{ '/library/' | relative_url }}">Libraries</a>
        <a href="{{ '/about.html' | relative_url }}">About</a>
        <a href="{{ 'https://robinbayliss.substack.com/subscribe' | absolute_url }}" target="_blank">Newsletter</a>
        <!-- <a href="{{ '/contact.html' | relative_url }}">Contact</a> -->
    </nav>
</header>
