<header class="site-header">
    <nav class="main-nav">
        <a href="{{ '/' | relative_url }}">Books</a>
        <span class="nav-separator">&#10052;</span>
        <a href="{{ '/' | relative_url }}#season-1">Season 1</a>
        <a href="{{ '/' | relative_url }}#season-2">Season 2</a>
        <a href="{{ '/' | relative_url }}#collections">Collections</a>
        <span class="nav-separator">&#10052;</span>
        <a href="{{ '/about.html' | relative_url }}">About</a>
        <a href="{{ 'https://subscribepage.io/RobinBayliss' | absolute_url }}" target="_blank">Newsletter</a>
        <!-- <a href="{{ '/contact.html' | relative_url }}">Contact</a> -->
    </nav>
</header>
